@font-face {
    font-family: 'LayijiMahaniyomV161';
    src: url('/public/class/fonts/LayijiMahaniyomV161.woff');
}

body {
    // font-family: 'LayijiMahaniyomV161' !important;
    font-size: 18px;
    padding-top: 70px;

    @media only screen and (max-width: 991px) {
        padding-top: 58px;
    }

    p {
        margin-bottom: 5px;
    }

    .preloader {
        display: none !important;
    }
}

.wfull {
    width: 100%;
}

/*------------------------- CSS @media ---------------------------*/
@media only screen and (min-width: 768px) {
    .max-xs {
        display: none;
    }

    .min-xs {
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    .min-sm {
        display: block;
    }

    .max-sm {
        display: none;
    }
}

/*-------- max --------*/
@media only screen and (max-width: 767px) {
    .max-xs {
        display: block;
    }

    .min-xs {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .min-sm {
        display: none;
    }

    .max-sm {
        display: block;
    }
}

/*------------------------- // CSS @media  ---------------------------*/

.btn-facrbook {
    width: 100%;
    background: #4267b2;
    margin-bottom: 18px;
    color: #fff;
}

.font-14 {
    font-size: 14px;
}

.c-g {
    color: green;
}
.c-y {
    color: yellow;
}
.c-o {
    color: orange;
}
.c-t {
    color: turquoise;
}
.c-r {
    color: red;
}

.error {
    color: #f00;
}

.courses_info {
    .dotellipsis {
        display: block !important;
        display: -webkit-box !important;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        -o-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        &.title {
            height: 50px;
            margin-bottom: 5px;
            -webkit-line-clamp: 2;
            -moz-line-clamp: 2;
            -ms-line-clamp: 2;
            -o-line-clamp: 2;
            line-clamp: 2;
            h5 {
                line-height: 25px;
            }
        }

        &.excerpt {
            min-height: 60px;
            margin-bottom: 10px;
            -webkit-line-clamp: 3;
            -moz-line-clamp: 3;
            -ms-line-clamp: 3;
            -o-line-clamp: 3;
            line-clamp: 3;
            line-height: 1.4;
        }
    }
}

.modal.fade.show {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999999;
    display: none;
    overflow: hidden;
    outline: 0;
}

.box-shadows {
    box-shadow: 0px 0px 8px rgb(187, 187, 187);
    padding: 15px;
    border-radius: 5px;
}
