/* The form-check-label */
.form-check-label {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 15px !important;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.form-check-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.form-check-label:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.form-check-label input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.form-check-label input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.form-check-label .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.number {

    span {
        cursor: pointer;
    }

    .minus,
    .plus {
        width: 35px;
        height: 32px;
        background: rgb(247, 148, 29);
        border-radius: 4px;
        padding: 0px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        font-size: 18px;
    }

    input {
        height: 34px;
        width: 50px;
        text-align: center;
        font-size: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        display: inline-block;
        vertical-align: middle;
    }
}

