.single_courses {
    a {
        color: RGB(31, 31, 31);
        &:hover {
            color: #f7941d;
        }
    }
    .star {
        min-height: 55px;
        .countdown {
            font-size: 12px;
        }
    }
    .prise {
        font-size: 18px;
        font-weight: bold;
    }
    .promotion{
        color: red;
        font-size: 13px;
    }
}
