@font-face {
  font-family: "LayijiMahaniyomV161";
  src: url("/public/class/fonts/LayijiMahaniyomV161.woff");
}

body {
  font-size: 18px;
  padding-top: 70px;
}

@media only screen and (max-width: 991px) {
  body {
    padding-top: 58px;
  }
}

body p {
  margin-bottom: 5px;
}

body .preloader {
  display: none !important;
}

.wfull {
  width: 100%;
}

/*------------------------- CSS @media ---------------------------*/

@media only screen and (min-width: 768px) {
  .max-xs {
    display: none;
  }

  .min-xs {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .min-sm {
    display: block;
  }

  .max-sm {
    display: none;
  }
}

/*-------- max --------*/

@media only screen and (max-width: 767px) {
  .max-xs {
    display: block;
  }

  .min-xs {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .min-sm {
    display: none;
  }

  .max-sm {
    display: block;
  }
}

/*------------------------- // CSS @media  ---------------------------*/

.btn-facrbook {
  width: 100%;
  background: #4267b2;
  margin-bottom: 18px;
  color: #fff;
}

.font-14 {
  font-size: 14px;
}

.c-g {
  color: green;
}

.c-y {
  color: yellow;
}

.c-o {
  color: orange;
}

.c-t {
  color: turquoise;
}

.c-r {
  color: red;
}

.error {
  color: #f00;
}

.courses_info .dotellipsis {
  display: block !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.courses_info .dotellipsis.title {
  height: 50px;
  margin-bottom: 5px;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
}

.courses_info .dotellipsis.title h5 {
  line-height: 25px;
}

.courses_info .dotellipsis.excerpt {
  min-height: 60px;
  margin-bottom: 10px;
  -webkit-line-clamp: 3;
  -moz-line-clamp: 3;
  -ms-line-clamp: 3;
  -o-line-clamp: 3;
  line-clamp: 3;
  line-height: 1.4;
}

.modal.fade.show {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999;
  display: none;
  overflow: hidden;
  outline: 0;
}

.box-shadows {
  box-shadow: 0px 0px 8px #bbbbbb;
  padding: 15px;
  border-radius: 5px;
}

/* The form-check-label */

.form-check-label {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 15px !important;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */

.form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */

.form-check-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.form-check-label input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */

.form-check-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */

.form-check-label .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.number span {
  cursor: pointer;
}

.number .minus,
.number .plus {
  width: 35px;
  height: 32px;
  background: #f7941d;
  border-radius: 4px;
  padding: 0px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.number input {
  height: 34px;
  width: 50px;
  text-align: center;
  font-size: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.popular_courses .single_courses .thumb img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo-img img,
.footer_logo img {
  height: 50px;
}

.footer_bg_1 {
  background-color: #1C2331;
}

.header-area .main-header-area {
  padding: 0 150px;
  background: #04d2c8;
  background: -webkit-gradient(linear, left top, right top, from(#FFA33F), to(#B6EE56));
  background: linear-gradient(to right, #FFA33F 0%, #B6EE56 100%);
}

.header-area .main-header-area.sticky {
  background: #fdae5c;
  background: -webkit-gradient(linear, left top, right top, from(#FFA33F), to(#B6EE56));
  background: linear-gradient(to right, #FFA33F 0%, #B6EE56 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a64eee", endColorstr="#3c35ce", GradientType=1);
}

.single_courses .title-crad-display a {
  font-size: 18px;
  line-height: 1.5;
  color: #F78914;
  padding-bottom: 2px;
}

.single_courses a {
  color: RGB(31, 31, 31);
}

.single_courses a:hover {
  color: #f7941d;
}

.single_courses .star {
  min-height: 55px;
}

.single_courses .star .countdown {
  font-size: 12px;
}

.single_courses .prise {
  font-size: 18px;
  font-weight: bold;
}

.single_courses .promotion {
  color: red;
  font-size: 13px;
}

